main .slider {
    height: 300px;
}

main .slider .slider-container {
    position: relative;
}

main .slider .slider-container .prev {
    position: absolute;
    z-index: 999;
    cursor: pointer;
    top: 50%;
    padding: 0 48px;
}

main .slider .slider-container .next {
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 0;
    cursor: pointer;
    padding: 0 48px;
}
.tns-outer .tns-controls, .tns-outer .tns-nav, .tns-outer button[data-action="stop"], .tns-outer button[data-action="start"] {
    display: none;
}

.tns-outer .tns-ovh .tns-inner .slider-wrapper .tns-item, .tns-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    z-index: 1;
    filter: grayscale(50%);
}
